<div class="card bg-primary shadow-soft border-light px-4 py-5 text-center mb-5">
  <div class="card-header pb-0">
      <h2 class="h1 mb-3">Ready to change your life?</h2>
  </div>
  <div class="card-body pt-2 px-0 px-lg-7">
      <p class="mb-5 lead">
          Download Rocket today and take the first step to organize your routine, achieve your personal goals and reflect on your life.
      </p>

      <div style="    float: left; width: 301px;margin-left: 89px;">
        <a href="#" >
            <img class="shadow-soft rounded scale" src="assets/img/about.jpg" alt="About company page preview">
        </a>
    </div>
    <div style="float: left;width: 300px;margin-left: 70px;" >
      <a href="#" >
          <img class="shadow-soft rounded scale" src="assets/img/pricing.jpg" alt="Pricing page preview">

      </a>
  </div>
  <div style="float: left;width: 300px;margin-left: 70px;" >
    <a href="#">
        <img class="shadow-soft rounded scale" src="assets/img/pricing.jpg" alt="Pricing page preview">
    </a>
</div>
<br>

  </div>
</div>
